--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/transaction.send?campaign_id=20861&client_id=1010101&content_url=http://rubyonrails.org/images/rails.png&format=json&message=Hello%20World!&to=3108675309&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "API Request Accepted",
        		"message_id": "184801357",
        		"hash": "d4coz040"
        	}
        }

  recorded_at: Thu, 21 Mar 2013 23:00:04 GMT
recorded_with: VCR 2.4.0
