--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/keyword.check?client_id=1010101&format=json&keyword=reallylongkeyword12345&shortcode=343434&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"eece87ef7693bba29fc82fcb3253b952\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "Keyword available",
        		"available": "true"
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:25:38 GMT
recorded_with: VCR 2.4.0
