--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/keyword.remove?campaign_id=20948&client_id=1010101&format=json&keyword=reallylongkeyword12345&shortcode=343434&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"2afc624c0a482722b7caea997b3a7732\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "keyword removed"
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:26:49 GMT
recorded_with: VCR 2.4.0
