--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/keyword.list?client_id=1010101&format=json&query=%7B%7D&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"8bf6b18fd8af79f8a548617f3e2ca13e\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "keywords retrieved",
        		"keywords": [ 
        			{
        				"name": "PAULF",
        				"master": "true"
        			}
        		]
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:15:51 GMT
- request: 
    method: get
    uri: https://api.mogreet.com/cm/keyword.list?client_id=1010101&format=json&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"8bf6b18fd8af79f8a548617f3e2ca13e\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "keywords retrieved",
        		"keywords": [ 
        			{
        				"name": "PAULF",
        				"master": "true"
        			}
        		]
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:21:25 GMT
recorded_with: VCR 2.4.0
