--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.create?client_id=1010101&format=json&name=test%20list&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"872820a81f2841fc9d381d42a40aa3b7\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "list created",
        		"list_id": 17120
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:51:22 GMT
recorded_with: VCR 2.4.0
