--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.destroy?client_id=1010101&format=json&list_id=8228&name=test&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"1d56b5fd15a78f92318b7365dcf9e8ee\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "list destroyed"
        	}
        }

  recorded_at: Thu, 21 Mar 2013 20:26:26 GMT
recorded_with: VCR 2.4.0
