--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.send?campaign_id=20948&client_id=1010101&format=json&list_id=8228&message=hello%20world&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"6f85d07cd56d8f1eba15b13c142af4dc\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "queued"
        	}
        }

  recorded_at: Thu, 21 Mar 2013 20:18:27 GMT
recorded_with: VCR 2.4.0
