--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.info?client_id=1010101&format=json&list_id=8228&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"a63725212a57c3dbd1cd1d49e35bc19f\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "list retrieved",
        		"list": {
        			"id": "8228",
        			"name": "test",
        			"type": "uploaded",
        			"total": "0",
        			"created": "2012-02-27T05:21:50Z",
        			"updated": "2012-02-27T05:21:50Z",
        			"last_used": ""
        		}
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:46:10 GMT
recorded_with: VCR 2.4.0
