--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.download?client_id=1010101&format=json&list_id=8228&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"f71cd38deab766a964ca78a733501572\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "data exported",
        		"recipients": [ 
        
        		]
        	}
        }

  recorded_at: Thu, 21 Mar 2013 20:21:01 GMT
recorded_with: VCR 2.4.0
