--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.list?client_id=1010101&format=json&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"f1ebaf3217f9a8ccf3c87f776fe55d9f\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "lists retrieved",
        		"lists": [ 
         			{
        				"id": "8228",
        				"name": "test",
        				"type": "uploaded"
        			}
        		]
        	}
        }

  recorded_at: Wed, 20 Mar 2013 23:31:32 GMT
recorded_with: VCR 2.4.0
