--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/list.prune?client_id=1010101&format=json&list_id=8228&numbers=3108675309&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"978f3ae83a2b7e8b50d16e48c26ab01c\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "request processed",
        		"statistics": {
        			"deleted": "1",
        			"not_found": "0",
        			"rejected": "0"
        		}
        	}
        }

  recorded_at: Thu, 21 Mar 2013 20:14:08 GMT
recorded_with: VCR 2.4.0
