--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/media.list?client_id=1010101&format=json&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"46918956fdfca7e785dc8020c6778970\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "media list retrieved",
        		"media_list": [ 
        			{
        				"name": "aaapaul2",
        				"type": "image",
        				"content_id": "293717",
        				"smart_url": "http://m.mogreet.com/oc/k00or14yp",
        				"filename": "15311-foo.jpg"
        			}, 
        			{
        				"name": "aaapaul",
        				"type": "image",
        				"content_id": "293570",
        				"smart_url": "http://m.mogreet.com/oc/k00ooowth",
        				"filename": "15307-foo.jpg"
        			}
        		]
        	}
        }

  recorded_at: Thu, 21 Mar 2013 20:30:53 GMT
recorded_with: VCR 2.4.0
