--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/cm/media.destroy?client_id=1010101&content_id=308685&format=json&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"a172862e4f093b6c04092185613abb43\""
      Status: 
      - "200"
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
            "response": {
        		"code": "1",
            		"status": "success",
        		"message": "media correctly deleted",
        		"media": {
        			"name": "upload name",
        			"content_id": "308685",
        			"smart_url": "http://m.mogreet.com/oc/em13ti52m"
        		}
        	}
        }

  recorded_at: Thu, 21 Mar 2013 22:21:06 GMT
recorded_with: VCR 2.4.0
