--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/system.ping?client_id=42&format=json&token=ababab
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "pong"
        	}
        }

  recorded_at: Sat, 16 Mar 2013 15:50:08 GMT
- request: 
    method: get
    uri: https://api.mogreet.com/moms/system.ping?client_id=1010101&format=json&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "pong"
        	}
        }

  recorded_at: Sat, 16 Mar 2013 19:30:22 GMT
- request: 
    method: get
    uri: https://api.mogreet.com/moms/system.ping?client_id=1010101&format=json&token=xxxx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "0",
        		"status": "error",
        		"message": "Mogreet: 403 Forbidden"
        	}
        }

  recorded_at: Mon, 18 Mar 2013 16:24:10 GMT
recorded_with: VCR 2.4.0
