--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/transaction.send?campaign_id=20948&client_id=1010101&format=json&message=hello%20world&to=3108675309&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "API Request Accepted",
        		"message_id": "184299036",
        		"hash": "nm8ewqsd"
        	}
        }

  recorded_at: Tue, 19 Mar 2013 04:06:18 GMT
- request: 
    method: get
    uri: https://api.mogreet.com/moms/transaction.lookup?client_id=1010101&format=json&hash=nm8ewqsd&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - BAD_REQUEST
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "0",
        		"status": "error",
        		"message": "Mogreet: Required Parameter(s) Missing"
        	}
        }

  recorded_at: Tue, 19 Mar 2013 04:19:23 GMT
recorded_with: VCR 2.4.0
