--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/transaction.lookup?client_id=1010101&format=json&hash=nm8ewqsd&message_id=184299036&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "transaction found",
        		"transaction": {
        			"campaign_id": "20948",
        			"from": "21534",
        			"from_name": "21534",
        			"to": "3108675309",
        			"to_name": "3108675309",
        			"content_id": "",
        			"status": "COMPLETE",
        			"history": [
        				{
        					"timestamp": "2013-03-18 21:06:18 -0700",
        					"event": "Transaction Created"
        				},
        				{
        					"timestamp": "2013-03-18 21:06:18 -0700",
        					"event": "SMS Sent"
        				},
        				{
        					"timestamp": "2013-03-18 21:06:18 -0700",
        					"event": "Transaction Complete"
        				} 
        			]
        		}
        	}
        }

  recorded_at: Tue, 19 Mar 2013 04:21:07 GMT
recorded_with: VCR 2.4.0
