--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/user.info?client_id=1010101&format=json&number=3108675309&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "user info",
        		"number": "13108675309",
        		"carrier_id": "2",
        		"carrier_name": "T-Mobile",
        		"handset_id": "12025",
        		"handset_name": "Samsung Galaxy Nexus SCH-i515"
        	}
        }

  recorded_at: Sat, 16 Mar 2013 20:35:13 GMT
recorded_with: VCR 2.4.0
