--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/user.transactions?client_id=1010101&format=json&number=3108675309&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "user transactions",
        		"transactions": [
          			{
          				"campaign_id": "20861", 
          				"campaign_name": "awesome response", 
          				"datestamp": "2013-03-09 15:19:05",
          				"hash": "d450oav0",
          				"message_id": "181654693",
          				"from": "21534",
          				"to": "13108675309"
          			} 
          		]
        	}
        }

  recorded_at: Sat, 16 Mar 2013 20:16:19 GMT
recorded_with: VCR 2.4.0
