--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.mogreet.com/moms/user.lookup?client_id=1010101&format=json&number=3108675309&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - OK
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "1",
        		"status": "success",
        		"message": "user info",
        		"number": "13108675309",
          		"carrier_id": "2",
          		"carrier_name": "T-Mobile",
          		"handset_id": "12025",
          		"handset_name": "Samsung Galaxy Nexus SCH-i515"
        	}
        }

  recorded_at: Sat, 16 Mar 2013 20:01:58 GMT
- request: 
    method: get
    uri: https://api.mogreet.com/moms/user.transactions?client_id=1010101&format=json&query=%7B:number=%3E%223108675309%22%7D&token=xyxyxyxyxyxyxyxyxyxyxyxyxyx
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
      Language: 
      - en
      Type: 
      - text/xml
      Status: 
      - BAD_REQUEST
    body: 
      encoding: US-ASCII
      string: |
        {
        	"response": {
        		"code": "0",
        		"status": "error",
        		"message": "Mogreet: Required Parameter(s) Missing"
        	}
        }

  recorded_at: Sat, 16 Mar 2013 20:14:24 GMT
recorded_with: VCR 2.4.0
